ipython[notebook]
pandas==0.16.0
numpy==1.10.4
folium==0.2.1
psycopg2==2.6.2
matplotlib==2.0.0
scipy==0.18.1
sh==1.12.9
ipython-sql==0.3.6
Shapely==1.5.17.post1
pretty==0.1
tabulate==0.7.7
Fiona==1.7.9.post1
geopandas==0.3.0